@import "~gumgum-design/styles/scss/index";

.App {
  background: #fff;
  min-height: 100vh;
}

.gds-search__input-holder {
  width: 800px;
  margin-top: 10%;
}

//overrides

.gds-search__typeahead {
  background: #fff;
  box-shadow: inset -1px -1px 0px 0 #c4c4c4, inset 1px -1px 0px 0 #c4c4c4;
}

.gds-search__typeahead-item {
  background: none;
  color: inherit;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  flex: auto;
  align-items: center;

  &:hover {
    color: white;
  }
}

//new classes (not in DS)
.gds-search__filter-items .gds-search__typeahead-item:last-child {
  border-bottom: 1px solid #c4c4c4;
}

.gds-search__result-icon {
  font-size: 14px;
  padding-right: 8px;
  text-align: center;
}
.gds-search__result-name {
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.gds-search__result-type {
  .gds-badge {
    white-space: nowrap;
  }
}

.gds-search__typeahead-item--back {
  font-size: 12px;
}
